<h1>Add a quote!</h1><a href="/logout">Logout</a>

<div ng-controller="quoteController">
    <div>
        <p style="color: red;" ng-repeat='error in errors track by $index'>{{error}}</p>
        <form ng-submit='addQuote()'>
            <input type="text" placeholder="Quote" ng-model="newQuote.quote">
            <input type="text" placeholder="Attribution" ng-model="newQuote.attribution"> Said on: <input type="date" ng-model="newQuote.date">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>